@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


h1,
h2,
h3,
#app-nav {
  font-family: 'Silkscreen', cursive;
}


/* .App-header {
  height: calc(100vh - 70px);
} */

/* 
#appFooter {
  position: fixed;
  height: 60px;
  margin-top: 2rem;
  bottom: 0;
} */

.app-header {
  font-size: 2rem;
}

#searchForm {
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
}

#searchForm button {
  margin: 0 auto;
  width: fit-content;
}

.searchBtn {
  display: inline;
}

.searchResults {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  place-content: center;
}

#viewGame {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}

/* @media screen and (max-width: 820px) {
  #searchResults {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 800px) {
  #searchResults {
    display: flex;
    flex-direction: column;
  }
} */

#appFooter {
  height: 60px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.game-card {
  flex: 0 1 300px;
  border: 1px solid black;
}

a {
  text-decoration-line: underline;
}

a:hover {
  text-decoration: none;
}

.gameHeader {
  font-family: 'Silkscreen', cursive;
  font-size: 2rem;
  align-self: center;
}

.gameHeaderImg {
  object-fit: contain;
  margin: 1em;
}

.spanFormat {
  display: block;
  font-size: 0.9rem;
}

.gameInfo {
  margin-top: 1em;
}

.game-card img {
  object-fit: contain;
}

.game-screenshot {
  width: 80%;
  max-width: 600px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}